# Variables
### #Variables are nothing but the containers in which we store values.

## *Rules

### 1) It should not start with any special character like (_,@,#,$,%,&,*)
### 2) It should not start with any number.
### 3) It should always start with lower case letters,not uppercase.
### 4) Our variable names should always be related to the program or project.

In [1]:
height= 172         ## height is a variable containg valve 172
weight= 60          ## Weight is a variable containing value 60

In [2]:
print(height)

172

In [4]:
print(weight)

60

 ### Invalid Variable names

In [2]:
2= "Hello"

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3030356720.py, line 1)

In [3]:
@num=45

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (512180754.py, line 1)

### Valid

In [17]:
num=34
print(num)

34

In [19]:
studentName="vaishnavi"
print(studentName)

vaishnavi

# Operators in python

## 1) Arithmetic Operators

### (+ , - , * , / , % , ** , //)

In [54]:
a=30
b=40

In [55]:
c=a+b

In [56]:
print(c)

70

In [57]:
d= a-b

In [58]:
print(d)

-10

In [59]:
e=a*b

In [60]:
print(e)

1200

In [67]:
f= b/a  #Give answer of division

In [68]:
print(f)

1.3333333333333333

In [71]:
g=a%b  #Giuves remainder of division

In [72]:
print(g)

30

In [73]:
h= a**b  #Gives power means 30 raised to the power 40

In [74]:
print(h)

121576654590569288010000000000000000000000000000000000000000

In [77]:
l=a//b  #Gives the answer of division but the whole no. only ignores decimal

In [78]:
print(l)

0

## 2) Relational Operators

### (== , != , < , > , <= , >= )

In [79]:
n=5
m=10

In [80]:
n==m  #Checks both vales are equal.

False

In [81]:
n!=m #Checks both values are not equal

True

In [82]:
n<m

True

In [84]:
n>m

False

In [85]:
n<=m #Checks n is less than or equal to m any one condition is true gives true

True

In [86]:
n>=m

False

# 3) Logical Operators

### (and , or , not )

In [87]:
x=10
y=20

In [90]:
y>x and x<y #Needs both conditions true then gives true otherwise false

True

In [92]:
x>y or x<y #Any one condition is true gives true, if both are false gives false

True

In [97]:
not x>y #Makes true condition false and false condition true

True

# 4) Assignment Operator

### (= , += , -= , *= , /= )

In [ ]:
a=5

In [100]:
a+=5 #a=a+5 adds first and then assign.

In [ ]:
a-=5 #a=a-5

# 5) Membership Operators
### Used for data structure like list , tuple , dictionary , set

### (in , not in)

In [108]:
num=[1,2,3,4,5]

In [115]:
3 in num #Checks the no. is exist if exists fives true

True

In [114]:
5 not in num #Checks no. not exist if not exist gives true if exists gives false

False

# 6) Identity Operators

### (is , is not )

In [121]:
a=5
b=5

In [122]:
a is b #Checks a is b if both same gives true

True

In [123]:
a is not b

False